<include file="Index/header" />
<div class="am-panel-default">
    <div class="am-panel-hd">
        修改密码
    </div>
    <div class="am-panel-bd">
        <form action="" method="post" id="taskForm">
            <div class="am-g am-margin-bottom">
                <div class="task_list_left">
                    用户名：
                </div>
                <div class="task_list_right">
                    <font color="#FF0000">{$seller.account}</font>
                </div>
            </div>
            <div class="am-g am-margin-bottom">
                <div class="task_list_left">
                    原来密码：
                </div>
                <div class="task_list_right">
                    <input name="password" type="password" class="task_input" value="" />
                </div>
            </div>
            <div class="am-g am-margin-bottom">
                <div class="task_list_left">
                    新密码：
                </div>
                <div class="task_list_right">
                    <input id="new_password" name="new_password" type="password" class="task_input" value="" />
                </div>
            </div>
            <div class="am-g am-margin-bottom">
                <div class="task_list_left">
                    重复新密码：
                </div>
                <div class="task_list_right">
                    <input name="confirm_password" type="password" class="task_input" value="" />
                </div>
            </div>
            <div class="am-g am-margin-bottom">
                <div class="task_list_left">
                    操作：
                </div>
                <div class="task_list_right am-margin-left-xl am-padding-left-xl">
                    <input type="button" class="am-btn am-btn-warning am-round" value="确认修改" style="background-color:#00b7a3; border-color:#00b7a3;" onclick="set_password();" />
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    function set_password() {
        $.ajax({
            url: '{:U('Seller/password')}',
				type: 'post',
            dataType: 'json',
            data: $("#taskForm").serialize(),
            success: function (data) {
                if (data.state) {
                    window.location.href = "{:U('Seller/login')}";
                } else {
                    alert(data.msg);
                }
            }
        });
    }
</script>
<script>
    $(function () {
        $('li.active').removeClass('active');
        $('.submenu:last').show();
        $('.submenu:last li').eq(0).addClass('active');
    })
</script>
<include file="Index/footer" />