<include file="Index/header" />

<div class="wraps">

  <div class="am-u-sm-12 news am-margin-bottom-sm">
    <h1 style="text-align: center;">电子面单底单实信息拍图</h1>
    <p class="am-article-meta am-text-center am-margin-bottom-xs"> 2015-12-04</p>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
    <div class="am-margin-bottom-sm views">
      <div style="color:#FF0000">&nbsp;&nbsp;&nbsp;&nbsp;圆通电子面单核心供应商，真实电子面单，支持任何途径查询记录。下面以单号：805820339088 为例的实拍图。包含了发货底单、签收单、内网各网点信息截图。</div>
      <h2>发货底单实拍：</h2>
      <div class="wsm">
        <p align="center">
          <a href="__PUBLIC__/Home/danhao/d1.jpg" target="_blank">
            <img border="0" src="__PUBLIC__/Home/danhao/d1.jpg" width="400" height="600">
          </a>
        </p>
        <p align="center">(点击图片查看大图)</p>
      </div>
      <br>
      <h2>签收底单实拍：</h2>
      <div class="wsm">
        <p align="center">
          <a href="__PUBLIC__/Home/danhao/d2.jpg" target="_blank">
            <img border="0" src="__PUBLIC__/Home/danhao/d2.jpg" width="400" height="600">
          </a>
        </p>
        <p align="center">(点击图片查看大图)</p>
      </div>
      <h2>内网截图：</h2>
      <div class="wsm">
        <p align="center">
          <a href="__PUBLIC__/Home/danhao/d3.jpg" target="_blank">
            <img border="0" src="__PUBLIC__/Home/danhao/d3.jpg" width="990">
          </a>
        </p>
        <p align="center">(点击图片查看大图)</p>
      </div>
    </div>
  </div>


</div>
<script>
  $(function () {
    $('li.active').removeClass('active');
    $('#sidebar-nav #dashboard-menu > li').eq(2).addClass('active');
  })
</script>
<include file="Index/footer" />