body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img,iframe{border:0 none}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400}
a,a:hover{text-decoration:none;outline: none;}
ol,ul,li{list-style:none}h1,h2,h3,h4,h5,h6{font-size:14px;font-weight:bold}
q:before,q:after{content:''}a{text-decoration:none}i{font-style:normal}
/*.clearfix{*height:1%}*/
.clearfix:after{content:'';display:block;height:0;clear:both;visibility:hidden}
.tl{text-align:left;}
.tr{text-align:right;}
.tc{text-align:center;}
.fl{float:left}
.fr{float:right}
.pr{position:relative}
.pa{position:absolute}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
html,body{overflow-x:hidden;}
body{font-family:"Microsoft Yahei";color:#333;}
select:focus,
input:focus,
textarea:focus{border-color:#29c78b!important;}
.wrap{width:980px;margin:0 auto;overflow: hidden;}
.wraps{width:1000px;margin:0 auto;overflow: hidden;}

.news h1 {
  line-height: 50px;
  text-align: center;
  font-size: 22px;
  font-weight: normal;
}
.views{ line-height:28px; font-size:16px; font-family:simsun Arial;}