button {
    cursor: pointer;
}

button i {
    display: none;
}

.button {
    display: inline-block;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-family: 'Heiti SC', '\5fae\8f6f\96c5\9ed1', '\9ed1\4f53';
    color: white;
    border: 0 none;
    background-color: #167efb;
    background-repeat: repeat-x;
    background-position: 0 0;
    cursor: pointer;
}

.button:hover {
    text-decoration: none;
    background-color: #1672e3;
}

.button:active {
    background-color: #3482e1;
}

.button .icon {
    position: relative;
    top: 11px;
    vertical-align: top;
    font-weight: normal;
}

.button span {
    position: relative;
    top: 11px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: top;
    padding-left: 8px;
}

.button em {
    display: none;
}

.btn-gray {
    color: #666;
    background-color: #eee;
}

.btn-gray:hover {
    background-color: #ddd;
}

.btn-gray:active {
    background-color: #e7e7e7;
}

.btn-green {
    height: 50px;
    line-height: 50px;
    background-color: #1fa799;
}

.btn-green:hover {
    background-color: #1b978b;
    color: #FFF;
}

.btn-green:active {
    background-color: #51b73d;
}

.btn-reg {
    height: 50px;
    line-height: 50px;
    background-color: #1fa799;
}

.btn-reg:hover {
    color: #FFF;
    background-color: #1b978b;
}

.btn-disabled,
.btn-disabled:hover,
.btn-disabled:active {
    background-color: #e7e7e7;
    color: #A1A1A1;
    cursor: not-allowed;
}

button.button {
    height: 40px;
    padding: 0 10px;
    line-height: normal;
}

.banner-show {
    width: 100%;
    min-width: 980px;
    height: 600px;
    overflow: hidden;
}

.banner-show .cell {
    width: 100%;
    overflow: hidden;
    background-repeat: repeat-x;
    background-position: center top;
}

.banner-show .cell .con {
    height: 600px;
    background-repeat: no-repeat;
    background-position: center top;
}

.bns-01 {
    background-image: url(../img/mid_banner/banner_01_repeat34e3.png?v=201406241538);
}

.bns-01 .con {
    background-image: url(../img/mid_banner/banner_0134e3.png?v=201406241538);
}

.bns-02 {
    background-image: url(../img/mid_banner/banner_02_repeat34e3.gif?v=201406241538);
}

.bns-02 .con {
    background-image: url(../img/mid_banner/banner_0234e3.gif?v=201406241538);
}

.bns-03 {
    background-image: url(../img/mid_banner/banner_03_repeat34e3.png?v=201406241538);
}

.bns-03 .con {
    background-image: url(../img/mid_banner/banner_0334e3.png?v=201406241538);
}

.banner-link {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-left: -430px;
}

.banner-link i {
    display: none;
}

.banner-control {
    position: absolute;
    top: 0;
    left: 50%;
    width: 980px;
    margin-left: -490px;
}

.banner-control a {
    position: absolute;
    top: 258px;
    width: 30px;
    height: 30px;
    line-height: 10;
    overflow: hidden;
    background-image: url(../img/icon_control34e3.png?v=201406241538);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
}

.banner-control a.left {
    left: -55px;
    background-position: 0 0;
}

.banner-control a.left:hover {
    background-position: 0 -30px;
}

.banner-control a.right {
    right: -55px;
    background-position: -30px 0;
}

.banner-control a.right:hover {
    background-position: -30px -30px;
}

.container {
    position: relative;
    z-index: 2;
    width: 980px;
    height: 0;
    margin: auto;
}

.login-box {
    position: absolute;
    top: -550px;
    right: 0;
    width: 396px;
    height: 350px;
    background: white;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.95);
    padding: 30px;
}

.register-box {
    position: absolute;
    top: -550px;
    right: 0;
    width: 396px;
    height: 480px;
    background: white;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.95);
    padding: 30px;
}

.reg-tab {
    position: relative;
    width: 396px;
    height: 57px;
    zoom: 1;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
}

.reg-tab span {
    float: left;
    width: 198px;
    height: 57px;
    margin-left: -1px;
    line-height: 57px;
    text-align: center;
    font-size: 24px;
    color: #444;
    border-left: 1px solid #d2d3d4;
    background: url(../images/bg_tab_x34e3.html?v=201406241538) repeat-x 0 0;
    cursor: pointer;
}

.reg-tab span:first-child {
    border-top-left-radius: 3px;
}

.reg-tab span:last-child {
    border-top-right-radius: 3px;
}

.reg-tab span.current {
    background: none;
    cursor: default;
}

.login-slogan {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: gray;
    font-weight: bold;
}

.login-slogan a {
    float: right;
    color: #1fa799;
}

.login-form {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px dashed gray;
}

.login-form .cell {
    position: relative;
    height: 40px;
    margin-bottom: 22px;
    zoom: 1;
}

.login-form .cell label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0 12px;
    line-height: 40px;
    font-size: 16px;
    color: #999;
    font-weight: bold;
    cursor: text;
}

.login-form .val label {
    left: -9999px;
    opacity: 0 !important;
    filter: alpha(opacity="0") !important;
}

.login-form .cell input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 11px;
    font-size: 16px;
    box-shadow: none !important;
}

.login-form .cell input:focus {
    border: 1px solid #fffb00 !important;
}

.reg-slogan {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: gray;
    font-weight: bold;
}

.reg-slogan a {
    float: right;
    color: #1fa799;
}

.reg-form {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px dashed gray;
}

.reg-form .cell {
    position: relative;
    height: 40px;
    margin-bottom: 22px;
    zoom: 1;
}

.reg-form .cell label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0 12px;
    line-height: 40px;
    font-size: 16px;
    color: #999;
    font-weight: bold;
    cursor: text;
}

.reg-form .val label {
    left: -9999px;
    opacity: 0 !important;
    filter: alpha(opacity="0") !important;
}

.reg-form .cell input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 11px;
    font-size: 16px;
    box-shadow: none !important;
}

.reg-form .cell input:focus {
    border: 1px solid #fffb00 !important;
}

#js-verifys {
    position: absolute;
    top: 0;
    left: 0;
    width: 204px;
    padding: 7px 11px;
    font-size: 16px;
    background: none;
}

.imgverify {
    float: right;
    cursor: pointer;
}

.login-form .cell .icon-form {
    top: 11px;
    right: 10px;
}

.login-form .vcode input {
    width: 110px;
}

.login-form .vcode .button {
    position: absolute;
    top: 0;
    left: 144px;
    width: 182px;
    padding: 0;
    font-size: 14px;
}

.login-form .vcode img {
    position: absolute;
    top: 0;
    left: 144px;
    width: 110px;
    height: 40px;
}

.login-form .vcode span {
    position: absolute;
    top: 0;
    left: 264px;
    line-height: 40px;
    font-size: 14px;
}

.login-form .vcode .icon-form {
    right: 204px;
}

.login-form .vcode .login-popup-hint {
    right: 194px;
}

.login-form .user-agreement {
    height: 16px;
    margin-top: -22px;
    padding: 18px 0;
    line-height: 16px;
}

.login-form .user-agreement input {
    float: left;
    width: 14px;
    height: 14px;
    margin: 1px 5px 0 0;
}

.login-form .bottom {
    height: 40px;
}

.login-form .bottom .button {
    display: block;
    border-radius: 3px;
}

.reg-form .cell .icon-form {
    top: 11px;
    right: 10px;
}

.reg-form .vcode input {
    width: 110px;
}

.reg-form .vcode .button {
    position: absolute;
    top: 0;
    left: 144px;
    width: 182px;
    padding: 0;
    font-size: 14px;
}

.reg-form .vcode img {
    position: absolute;
    top: 0;
    left: 144px;
    width: 110px;
    height: 40px;
}

.reg-form .vcode span {
    position: absolute;
    top: 0;
    left: 264px;
    line-height: 40px;
    font-size: 14px;
}

.reg-form .vcode .icon-form {
    right: 204px;
}

.reg-form .vcode .reg-popup-hint {
    right: 194px;
}

.reg-form .user-agreement {
    height: 16px;
    margin-top: -22px;
    padding: 18px 0;
    line-height: 16px;
}

.reg-form .user-agreement input {
    float: left;
    width: 14px;
    height: 14px;
    margin: 1px 5px 0 0;
}

.reg-form .bottom {
    height: 40px;
}

.reg-form .bottom .button {
    display: block;
    border-radius: 3px;
}